# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies 忽略依赖文件
/node_modules
/.pnp
.pnp.js

# testing  忽略测试文件
/coverage

# production 忽略生产代码
/build
/.idea/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
